body
{
    background-color: #CBE3F2;
    font-family: Verdana;
}

a:link
{
    color: white;
    text-decoration: none;
    display: block;
}

a:visited
{
    color: white;
    text-decoration: none;
    display: block;
}

a:hover
{
    color: white;
    text-decoration: none;
    display: block;
}

.container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textInput
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Tweet
{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    width: 500px;
    text-align: center;
    padding: 5px;
    border: 3px solid gray;
    border-radius: 15px;
}

.Comment
{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    width: 500px;
    text-align: center;
    padding: 5px;
    border: 3px solid gray;
    border-radius: 15px;
}

#messages
{
    width: 1000px;
   
    text-align: center;
}

.SendedMessage
{
    
    margin-top: 10px;
    font-size: 12px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid gray;
    border-radius: 15px;
}

.ReceivedMessage
{
   
    margin-top: 10px;
    font-size: 12px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid gray;
    border-radius: 15px;
}

#ReceivedMessages
{
    width: 500px;
    margin-top: 50px;
    float: left;
    text-align: center;
}

#SendedMessages
{
    width: 500px;
    margin-top: 50px;
    float: left;
    text-align: center;
}

.Welcome
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 28px;
    border: 2px dotted #000000;
    width: 500px;
    border-radius: 15px;
}

#profile
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20px;
    width: 500px;
    text-align: center;
    padding: 5px;
    border: 3px solid gray;
    border-radius: 15px;
}

#profile > p
{
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
}

#messages
{
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
input[type=password]
{
    width: 300px;
    background-color: #efefef;
    color: black;
    border: 2px solid #ddd;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
        
}

input[type=text]:focus,
input[type=password]:focus
{
    color: #428c42;
}

input[type=submit]
{
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:hover
{
    background-color: #37b93d;
}

textarea
{
    width: 400px;
    background-color: #ffffff;
    font-size: 20px;
    color: black;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    resize: none;
}

textarea:focus
{
    color: #428c42;
}

.link
{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    box-sizing: border-box;
}

.link:hover
{
    background-color: #37b93d;
}

.innerLink
{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #304ac4;
    font-size: 12px;
    color: white;
    padding: 2px 2px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    box-sizing: border-box;
}

select
{
    width: 300px;
   
}